<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>408353474732-mlqmesprqte2log1uuec44e7erf31aub.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.408353474732-mlqmesprqte2log1uuec44e7erf31aub</string>
	<key>API_KEY</key>
	<string>AIzaSyBfB-8IMgKWPUB7wRj0ZixVmd8ynUgroiI</string>
	<key>GCM_SENDER_ID</key>
	<string>408353474732</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.zoom</string>
	<key>PROJECT_ID</key>
	<string>zoom-clone-bb4ca</string>
	<key>STORAGE_BUCKET</key>
	<string>zoom-clone-bb4ca.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:408353474732:ios:04cfb36efe3613fcbaf709</string>
</dict>
</plist>